@import "tailwindcss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));
